# Convert csv to sql example project

### Import librarys

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

### Get csv data

In [2]:
df = pd.read_csv('airline_data.csv')
df.head(3)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Connect to BBDD

In [3]:

engine = create_engine('mysql://root:@127.0.0.1:3306/aerolines')

### Parse csv to database table

In [4]:
df.to_sql('airline_data', engine, index=False, if_exists='replace')

27000